

.password-strength-bar {
    width:100%;
    height:40px;
    margin-top: 50px;
    position: relative;
    opacity: 0.8;
}

.password-strength-bar span {
    float: left;
    width:20%;
    height:40px;
    text-align: center;
    line-height: 40px;
}
.password-strength-bar span.one {
    background-color: brown;

}
.password-strength-bar span.two {
    background-color: steelblue;
}
.password-strength-bar span.three {
    background-color: darkseagreen;
}
.password-strength-bar span.four {
    background-color: lawngreen;
}

.password-strength-bar span.five {
    background-color: darkgreen;
}
.password-strength-bar b {
    background: url("../images/zuobiao.png");
    width:30px;
    height:30px;
    position: absolute;
    background-size: 100% 100%;
    top:-40px;
    left:0;
    transition: all 0.8s;
}
